/*** General ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f2f2f2;
}

.m-5-auto {
  margin: 5rem auto;
}

.primary-button {
  margin-top: 2rem;
  padding: 1rem;
  width: 10rem;
  background: #007bff;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}

.primary-button:hover {
  background: #0056b3;
}

/*** Landing Page ***/
.main-title,
.main-para {
  color: #007bff;
  text-align: center;
}

.main-title {
  padding-top: 3rem;
  font-size: 3rem;
  font-family: "Fascinate", cursive;
}

.main-para {
  font-size: 1.5rem;
  text-transform: capitalize;
}

/*** Login Page ***/
h2 {
  font-weight: 300;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.text-center1 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

form label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

form p button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1rem;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 1rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#sub_btn:hover {
  background: #0056b3;
  transition: background-color 0.5s;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
}

/*** Register Page ***/
#checkbox {
  width: 1rem;
}

form span {
  font-size: 0.8rem;
}

#reset_pass_lbl {
  float: left;
}

/*** Home Page ***/
.home-page-title {
  color: #007bff;
}
